.page3 {
    ion-content {
        background: #FCD424;
        background-image: radial-gradient(right bottom, ellipse cover, #ffeda3, #ffc800);
        background-image: -o-radial-gradient(right bottom, ellipse cover, #ffeda3, #ffc800);
        background-image: -ms-radial-gradient(right bottom, ellipse cover, #ffeda3, #ffc800);
        background-image: -moz-radial-gradient(right bottom, ellipse cover, #ffeda3, #ffc800);
        background-image: -webkit-radial-gradient(right bottom, ellipse cover, #ffeda3, #ffc800);
        font: normal 16px/24px 'Helvetica Neue', Helvetica, Arial, freesans, sans-serif; 
    }
}
